.row_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1110px) {
  .row_container {
    flex-direction: column;
    align-items: center;
  }
}
