#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.gm-style-cc {
  display: none;
}

.map_map__1Db93 > div > div > :nth-child(2) {
  display: none;
}
