.main_container {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  display: flex;
}

.title_city {
  font-size: 4rem;
  line-height: 54px;
}

.date {
  display: flex;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 29px;
  text-transform: none;
}

.temp_wrapper{
	position: relative;
  }
  .temp {
	font-size: 306px;
	line-height: 373px;
  }
  
  .degree {
	width: 42px;
	height: 35px;
	font-size: 10rem;
	line-height: 70px;
	position: absolute;
	top: 22%;
	left: 100%;
  }
  

.sky_container {
  width: 162px;
}

.sky_container img {
  width: 100%;
}

.description_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-size: 2.2rem;
  line-height: 37px;
  margin-left: 90px;
  margin-bottom: auto;
}
