.title_city {
  font-size: 4rem;
  line-height: 54px;
}
.date {
  display: flex;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 29px;
  text-transform: none;
}

.main_container {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  display: flex;
}

.temp_wrapper {
  position: relative;
}
.temp {
  font-size: 24rem;
  line-height: 373px;
}

.degree {
  width: 42px;
  height: 35px;
  font-size: 10rem;
  line-height: 70px;
  position: absolute;
  top: 22%;
  left: 100%;
}

.sky_container {
  width: 162px;
}

.sky_container img {
  width: 100%;
}

.description_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-size: 2.2rem;
  line-height: 37px;
  margin-left: 90px;
  margin-bottom: auto;
}

@media (max-width: 820px) {
  .main_container {
    justify-content: center;
  }
  .temp {
    font-size: 20rem;
    line-height: 350px;
  }
  .description {
    font-size: 1.8rem;
    line-height: 30px;
    margin-left: 75px;
  }
}

@media (max-width: 600px) {
  .temp {
    font-size: 15rem;
    line-height: 300px;
  }
  .description {
    font-size: 1.4rem;
    line-height: 25px;
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .main_container {
    justify-content: center;
    margin-bottom: 20px;
  }
  .temp {
    font-size: 12rem;
    line-height: 250px;
  }
  .description {
    font-size: 1.2rem;
    line-height: 20px;
    margin-left: 25px;
  }
  .sky_container {
    width: 140px;
  }
}

@media (max-width: 320px) {
  .temp {
    font-size: 10rem;
    line-height: 200px;
  }
  .description {
    font-size: 1rem;
    line-height: 15px;
  }
}
